@import "../css/reset.css";
/* colors */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
}
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 18px;
  letter-spacing: .033em;
}
.feature-img {
  width: 100%;
}
header {
  box-sizing: border-box;
  background-color: #347AAA;
  width: 100%;
  padding: 3.611em 2.667em 1.778em 2.667em;
}
header h1 {
  color: #F2F0E4;
  display: block;
  font-size: 2.667em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}
header p {
  color: white;
  margin: 1em 0;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.8em;
  margin-top: 3em;
  width: 15.278em;
}
header p span {
  display: block;
  font-size: 1.33em;
  font-weight: 400;
}
header span {
  color: #F2F0E4;
  display: block;
  font-weight: 600;
  letter-spacing: .033em;
  margin-top: -1.33em;
  position: absolute;
}
.email {
  background-color: #F2F0E4;
  box-sizing: border-box;
  color: #347AAA;
  display: block;
  font-size: 0.889em;
  font-weight: 600;
  letter-spacing: .1em;
  margin-top: 1.667em;
  margin-left: -3em;
  padding: 1.111em 2.89em;
  text-transform: uppercase;
  text-decoration: none;
}
.links li {
  padding: 1em 2em 1em 0;
  float: left;
}
a {
  color: #333;
  text-decoration: underline;
}
a:active {
  color: black;
}
section {
  box-sizing: border-box;
}
#product h1,
#product h2,
#product h3,
#product p,
#product li {
  color: #347AAA;
}
#product h2 {
  background-color: #347AAA;
  color: #F2F0E4;
  display: block;
  font-size: 1.333em;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 1em;
  padding: 0 0 2em 2em;
  width: 100%;
  text-transform: uppercase;
}
#product h2 span {
  display: block;
  font-size: .583em;
  font-weight: 100;
  letter-spacing: .25em;
}
#design h1,
#design h2,
#design h3,
#design p,
#design li {
  color: #347AAA;
}
/* *********

MAX 1024px

********** */
@media all and (max-width: 1024px) {
  body {
    font-size: 18px;
  }
}
