@import "../css/reset.css";
/* colors */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
}
html {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  letter-spacing: .033em;
}
/* ***********
base (18) px to em

10px = .556em
************ */
.feature-img {
  width: 100%;
}
p {
  max-width: 75em;
}
header {
  background: #347AAA;
  width: 100%;
  padding: 3.611em 2.667em 1.778em 2.667em;
}
header h1 {
  color: #F2F0E4;
  display: block;
  font-size: 2.667em;
  font-weight: 700;
  line-height: 1em;
  white-space: nowrap;
  text-transform: uppercase;
}
header p {
  color: white;
  margin: 1em 0;
  font-size: .889em;
  font-weight: 100;
  line-height: 1.75em;
  margin-top: 3em;
  min-width: 17.188em;
  max-width: 45em;
  padding: 0 2.667em 0 0;
}
header p span {
  display: block;
  font-size: 1.33em;
  font-weight: 400;
}
header span {
  color: #F2F0E4;
  display: block;
  font-weight: 600;
  letter-spacing: .033em;
  margin-top: -1.33em;
  position: absolute;
}
.email {
  background: #F2F0E4;
  box-sizing: border-box;
  color: #347AAA;
  display: block;
  font-size: 0.889em;
  font-weight: 600;
  letter-spacing: .1em;
  margin-top: 1.667em;
  margin: 0 3.125em 0 -3.125em;
  min-width: 20.438em;
  max-width: 45em;
  padding: 1.111em 2.89em;
  text-decoration: none;
  text-transform: uppercase;
}
.links li {
  padding: 1em 2em 1em 0;
  float: left;
}
a {
  color: #333;
  text-decoration: underline;
}
a:active {
  color: black;
}
section p {
  font-size: 1.111em;
  line-height: 2em;
  margin: 2.5em 2.5em .556em 2.5em;
  width: 80%;
}
section h2 {
  position: relative;
  display: block;
  text-transform: uppercase;
}
section h2:after {
  content: '';
  display: block;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  bottom: -0.75em;
  transform: rotate(-45deg);
}
section h2.blue-arrow:after {
  background: #347AAA;
}
section h2.offwhite-arrow:after {
  background: #F2F0E4;
}
section h2.white-arrow:after {
  background: white;
}
figure {
  margin: 1.667em 0;
  width: 100%;
}
figcaption h3 {
  font-size: 1em;
  font-weight: 600;
  padding: 0 0 0 2.667em;
}
figcaption p {
  font-size: .556em;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 0 5em;
  width: 100%;
}
.scroller {
  overflow: scroll;
  padding: 1em .556em;
  width: 100%;
}
#product {
  color: #347AAA;
}
#product li {
  font-size: 14px;
  font-size: 0.778em;
  margin: 0 0 0 3.571em;
}
#product-head {
  background: #347AAA;
  color: white;
  font-size: 1.333em;
  font-weight: 600;
  letter-spacing: .1em;
  line-height: 1em;
  padding: 0 0 2.083em 2.083em;
  width: 100%;
}
#product-head:after {
  left: 2.383em;
}
#product-head span {
  color: #F2F0E4;
  display: block;
  font-size: .583em;
  font-weight: 100;
  letter-spacing: .25em;
}
#design {
  background: #F2F0E4;
  color: #347AAA;
}
#graphics-head {
  background: white;
  font-size: 1.778em;
  font-weight: 900;
  line-height: 1em;
  padding: 0 0 .938em 1.563em;
}
#graphics-head:after {
  left: 1.813em;
}
#graphics-head span {
  font-size: .438em;
  font-weight: 600;
  line-height: 1em;
  display: block;
}
#graphics-head span em {
  color: #F2F0E4;
  font-size: 1.5em;
  position: relative;
  top: .1em;
}
#iconography .scroller {
  padding-left: 2.667em;
}
#sites,
#older {
  margin-bottom: 0;
  overflow: hidden;
}
#more {
  position: relative;
  background: #354F2E;
  color: #F2F0E4;
  font-size: 1em;
  padding-bottom: 10em;
}
#more h3 {
  margin-top: 4em;
}
#more-head {
  background-color: #F2F0E4;
  color: #354F2E;
  font-weight: 600;
  margin: 0;
  padding: 0 0 1.667em 4.125em;
}
.more-lists {
  display: flex;
  padding: 0 0 0 5.156em;
  width: 100%;
}
.more-lists li {
  font-size: .5em;
  text-transform: uppercase;
}
.skills-list,
.tools-list {
  padding-right: 2em;
}
.links {
  position: absolute;
  right: 3em;
  top: 10em;
}
.links li {
  padding-right: 4em;
}
/* Icon Sprite */
.icon {
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  float: left;
  height: 90px;
  width: 90px;
  margin: 0 10px 10px 0;
}
.settings {
  background-position: 0 0;
}
.resources {
  background-position: 0 -100px;
}
.text {
  background-position: 0 -200px;
}
.feed {
  background-position: 0 -300px;
}
.directory {
  background-position: 0 -400px;
}
.superuser {
  background-position: 0 -500px;
}
.fax {
  background-position: 0 -600px;
}
.camera {
  background-position: 0 -700px;
}
.navigation {
  background-position: 0 -800px;
}
.auditor {
  background-position: 0 -900px;
}
.copy {
  background-position: 0 -1000px;
}
.appearance {
  background-position: 0 -1100px;
}
/* Site Sprite */
.site-img {
  background-image: url(../images/sites.png);
  background-repeat: no-repeat;
  float: left;
  height: 165px;
  width: 365px;
  margin: 0 15px 15px 0;
}
.mahopec {
  background-position: 0 0;
}
.newdawn {
  background-position: 0 -170px;
}
.pelham {
  background-position: 0 -340px;
}
.nanuet {
  background-position: 0 -510px;
}
.drew {
  background-position: 0 -680px;
}
.vannest {
  background-position: 0 -850px;
}
.york {
  background-position: 0 -1020px;
}
.cow {
  background-position: 0 -1190px;
}
.centralhigh {
  background-position: 0 -1360px;
}
.aviationhigh {
  background-position: 0 -1530px;
}
/* *********

MAX 1024px

********** */
@media all and (min-width: 1024px) {
  html {
    font-size: 32px;
  }
}
@media all and (max-width: 1440px) {
  .links {
    left: 3em;
    right: auto;
    top: 18em;
    bottom: 5em;
  }
  .link {
    width: auto;
    height: 24px;
  }
}
@media all and (max-width: 1280px) {
  #wireframes img,
  #app img {
    width: 1275px;
  }
  #workflows img {
    width: 1267px;
  }
  #sites .scroller,
  #iconography .scroller {
    text-align: center;
  }
  footer {
    width: 100%;
  }
  .more-lists {
    padding: 0 0 0 3em;
  }
  .links li {
    padding-right: 3em;
  }
}
