@import "../css/reset.css";
/*
Modular Scale
11.391em
7.594em
5.063em
3.375em
2.25em
1.5em
1em
0.667em
0.444em
0.296em
0.198em
0.132em
0.088em
*/
/* colors */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4C5444;
  font-family: 'Questrial', sans-serif;
  line-height: 1.5em;
}
h1 {
  font-size: 3.375em;
}
h2 {
  font-size: 1.5em;
}
body {
  font-family: 'Mukta Vaani', sans-serif;
  font-weight: 300;
  font-size: 20px;
}
header {
  background-color: #E1EAD6;
  padding: 12em 6em 12em 12em;
}
header p {
  margin: 1em 0;
  width: 35em;
}
header span {
  color: #4C5444;
  font-size: 1.15em;
  font-weight: 700;
}
header a {
  color: #426952;
}
a {
  color: #333;
  text-decoration: underline;
}
a:active {
  color: black;
}
section {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding: 15em 6em;
  text-align: center;
}
section:before {
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.half {
  float: left;
  width: 50%;
}
.card {
  background: rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  min-width: 35em;
  max-width: 45em;
  margin: 0 auto;
  padding: 5em 4em;
}
#process:before {
  background-image: url("../images/wireframes.png");
}
#design:before {
  background-image: url("../images/mockups.png");
}
#more,
#development {
  height: 600px;
}
#development {
  background-color: #333;
  padding: 3em;
  text-align: left;
}
#more .links li {
  padding: 1em 2em 1em 0;
  float: left;
}
footer {
  text-align: center;
}
/* *********

MAX 1024px

********** */
@media all and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}
