/* *********

MAX 1024px

********** */

@media all and (min-width: 1024px) {
    html {
        font-size: @bigFont;
        // padding: 2.5em;
    }
}
@media all and (max-width: 1024px) {
    .links {
        left:5em;
        right:auto;
        top:18em;
        bottom: 5em;
    }
}
