
.feature-img {
    width: 100%;
}

body {
    padding: 4em 6em;
}

section {
    padding: 2em 0;
}

header {
    p {
        margin: 1em 0;
    }
    span {
        color: @hColor;
        font-size: 1.15em;
        font-weight: 700;
    }
    a {
        color: @aColor;
    }
}

.links {
    li {
        padding: 1em 2em 1em 0;
        float: left;
    }
}

a {
    color: #333;
    text-decoration: underline;
    &:active {
        color: black;
    }
}
p {
    color: #666;
}

/* ********

Carousel

********** */

.carousel-cell {
    width: 100%;
    height: 560px;
    background-color: #c00;
}

