.feature-img {
    width: 100%;
}

header {
    background-color: @headerBgColor;   
    padding: 12em 6em 12em 12em;
    h1 {
        color: @hOffWhite;
        color: @hOffWhite;
    }
    p {
        color:@offWhite;
        margin: 1em 0;
        width: 35em;
    }
    span {
        color: @hOffWhite;
        font-size: 1.15em;
        font-weight: 700;
    }
    a {
        color: @offWhite;
    }
}

.links {
    li {
        padding: 1em 2em 1em 0;
        float: left;
    }
}

a {
    color: #333;
    text-decoration: underline;
    &:active {
        color: black;
    }
}

section {
    box-sizing: border-box;
    display: block; // height:800px;
    overflow: hidden;
    position: relative;
    padding: 15em 6em;
    p,
    li {
        max-width: 25em;
    }
}


/* *******

BG Img

*********** */

