
@blue: #347AAA;
@green: #354F2E;
@offWhite: #F2F0E4;

@baseFont: 18px;
@mBaseFont: 18px;
@bigFont: 32px;


/* colors */
@hOffWhite: @offWhite;
@hOffBlue: @blue;

@pBlue: @blue;
// @aColor: #426952;

@headerBgColor: @blue;

