
/*
Modular Scale
11.391em
7.594em
5.063em
3.375em
2.25em
1.5em
1em
0.667em
0.444em
0.296em
0.198em
0.132em
0.088em
*/
@baseFont: 20px;
@mBaseFont: 16px;


/* colors */
@hColor: #4C5444;
@pColor: #426952;
@aColor: #426952;

@headerBgColor: #E1EAD6;

